/*
    ---section color---
 */
$black: black;
$black2: rgba(35, 35, 35, 0.35);
$black3: rgba(57, 57, 57, 0.44);
$white2: rgba(255, 255, 255, 0.7);

/*
     ---section code SCSS (SASS)---
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $black;
    /*
        ----Section Header----
     */
    #head {
        width: 100%;
        height: 50px;
        background-color: $black2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        padding: 1rem;
        font-size: 1.3rem;

        #logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            width: 64px;
            height: 32px;
            background-color: #f5c518;
            color: black;
            border-radius: 5px;
            font-weight: bold;
        }

        a {
            color: white;
            text-decoration: none;
        }

        #need {
            display: flex;
            justify-content: stretch;

            select {
                width: 2.5vw;
                border-radius: 5px 0 0 5px;
            }

            .search {
                border: none;
                background-color: $white2;
            }
        }
    }

    /*
            ----Section body----
         */
    #body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;

        #car1 {
            width: 45%;
            height: 58vh;
            background-size: 45vw 58vh;
            margin-top: 1rem;
            display: inline-block;

            #buttonRight, #buttonLeft {
                border-radius: 5px;
                border: $white2 solid 0.5px;
                background-color: $black2;
                color: white;
                font-size: 3rem;
                width: 4rem;
                height: 6rem;
                z-index: +1;
            }

            #buttonRight {
                margin-left: 42.5vw;
                margin-top: -6vh;
            }

            #buttonLeft {
                margin-top: 19vh;
            }

            #divB {
                z-index: +1;
                background: linear-gradient(rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;

                #poster {
                    width: 20%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                #divB2 {
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    #bigTitle {
                        color: white;
                        font-size: 2rem;
                    }
                    #subTitle {
                        color: white;
                        font-size: 2rem;
                    }

                    #duration {
                        color: white;
                        font-size: 2rem;
                    }
                }

            }
        }

        #car2 {
            width: 30%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            h2 {
                color: #f5c518;
                font-size: 2.5rem;
                text-align: start;
            }


            .car2 {
                height: 30%;
                width: 90%;
                background-color: $black3;
                display: flex;
                flex-direction: row;

                .img1 {
                    width: 25%;
                    height: 100%;
                    border: 2px solid $black2;
                }

                .detail1 {
                    width: 75%;
                    height: 100%;
                    border: 2px solid $black2;
                }
            }
        }
    }

    h1 {
        color: #f5c518;
        font-size: 3.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    #car3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 20rem;
        margin-left: 1rem;

        #tab1 {
            width: 40%;
            height: 100%;
            background-color: $black2;
        }

        #tab2 {
            width: 40%;
            height: 100%;
            background-color: $black2;
        }

    }

    h2 {
        color: white;
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    h3 {
        color: white;
        font-size: 1.5rem;
        margin-left: 1rem;

    }

    .car41 {
        width: 90%;
        height: 40rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        .car4 {
            width: 14%;
            height: 90%;
            background-color: $black3;
        }
    }

    #centre1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40rem;

        div {
            margin-top: 0.5rem;

        }

        button {
            background-color: #f5c518;
            padding: 15px;
        }
    }

    .car42 {
        width: 90%;
        height: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        margin-top: 1rem;

        .car5 {
            width: 14%;
            height: 90%;
            border-radius: 50%;
            background-color: $black3;
        }
    }
}


